# Python
__pycache__/
*.py[cod]
*.so
.Python

# Environnements virtuels
env/
venv/
ENV/
env.bak/
venv.bak/

# Variables d'environnement
.env
.env.*

# Données temporaires et exports
*.csv
*.xlsx
*.json
*.log
*.pdf

# Build/IDE
/dist/
/build/
*.egg-info/
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Supabase (si jamais tu utilises le CLI)
.supabase/

# Docker
*.pid
*.sock
docker-compose.override.yml
Dockerfile*
train-dashboard/

# Autres
node_modules/ 